* {
  padding: 0;
  margin: 0;
  outline: none;
}
html {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  letter-spacing: 0.03em;
}
body {
  height: 10vh;
}
/* глобальные элементы */
/*@media screen and (min-width: 1140px) {*/
a {
  text-decoration: none;
  text-align: center;
}
input {
  background-color: #fff;
  border: 0;
  height: 38px;
  padding: 10px;
  box-sizing: border-box;
}
input::placeholder {
  color: #e6e6e6;
}
.center {
  padding: 0 calc(50% - 1140px / 2);
}
.buttonNormal,
.inputNormal {
  background-color: #fff;
  color: #4a4a4a;
  border: 1px solid #eaeaea;
}
.buttonNormal:hover {
  background-color: #fff;
  color: #f16d7f;
  border: 1px solid #f16d7f;
}
.inputNormal:focus,
.inputNormal:hover {
  background-color: #fff;
  border: 1px solid #f16d7f;
}
.buttonColored {
  background-color: #fff;
  color: #f16d7f;
  border: 1px solid #f16d7f;
}
.buttonInverse {
  background-color: #f16d7f;
  color: #fff;
  border: 1px solid #f16d7f;
}
.buttonInverse:hover {
  /*
	background-color: @lightColor;
	color: @activeColor;
	border: 1px solid @activeColor;
	*/
  box-shadow: 0 0 10px 0 #f16d7f;
}
.button,
.input {
  box-sizing: border-box;
  font-size: 15px;
  height: 38px;
  /*line-height: 38px;*/
  /*	color: @font_color_light;*/
  display: flex;
  /*display: inline-block;*/
  justify-content: center;
  align-items: center;
  /*padding: 0 20px;*/
  /*font-weight: 300;*/
  /*line-height: 26px;*/
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 3px;
}
.button {
  font-weight: bold;
  /*text-transform: uppercase;*/
}
.button-white {
  background-color: #fff;
  color: #eaeaea;
}
.button-gray,
.input-gray {
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  color: #eaeaea;
}
.btnsize-auto {
  width: auto !important;
}
.btnsize-full {
  width: 100% !important;
}
.btn-large {
  padding: 10px;
  font-size: 16px;
  min-height: 50px !important;
}
.btn-medium {
  font-size: 14px;
  padding-left: 54px;
  padding-right: 54px;
  /*padding: 14px;*/
}
.btn-small {
  font-size: 11px;
  /*padding: 12px;*/
  height: 35px;
}
/* полосы прокуртки */
/* Вставляем данный код в Таблицу стилей (CSS)*/
::-webkit-scrollbar-button {
  background-image: url('');
  background-repeat: no-repeat;
  width: 7px;
  height: 0px;
}
::-webkit-scrollbar-track {
  background-color: #4f4f4f;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background-color: #f16d7f;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #56999f;
}
::-webkit-resizer {
  background-image: url('');
  background-repeat: no-repeat;
  width: 4px;
  height: 0px;
}
::-webkit-scrollbar {
  width: 4px;
}
/* заголовок */
.header {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.17);
  border-bottom: 1px solid #ececec;
  min-height: 100px;
  width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__left {
  display: flex;
  align-items: center;
}
.header__right {
  display: flex;
  align-items: flex-end;
  position: relative;
}
.logo {
  background: url(img/logo.png) no-repeat;
  background-position: left 0;
  display: flex;
}
.logo > span {
  height: 100%;
  width: 93px;
  margin-left: 72px;
  margin-right: 37px;
  /*Text styles for "BRAN" */
  font-size: 27px;
  font-weight: 300;
  color: #222;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 59px;
  text-transform: uppercase;
  /*Text styles for "D" */
}
.logo > span > small {
  font-family: 'Lato';
  font-size: 27px;
  font-weight: 900;
  color: #f16d7f;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 32px;
  text-transform: uppercase;
}
.header__form {
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.header__form_browse {
  border: 1px solid #e6e6e6;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background-image: -webkit-linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
  background-image: -moz-linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
  background-image: -o-linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
  background-image: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
  height: 38px;
  width: 87px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__form_browse:hover > .browse__arrow,
.header__form_browse:hover > .submenu,
.header__form_browse > .submenu:hover {
  display: block;
  visibility: visible;
}
.submenu {
  /*display: none;*/
  display: none;
  z-index: 2;
  width: 262px;
  /*height: 530px;*/
  max-height: 70vh;
  position: absolute;
  left: 0;
  top: 35px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #f6f6f6;
  padding: 15px;
  list-style: none;
  overflow-y: auto;
  transition: 2s;
}
.browse__arrow {
  border: 5px solid transparent;
  /* Прозрачные границы */
  border-bottom: 5px solid #fff;
  /*
	border-left: 1px solid @colorGrayF6;
	border-top: 1px solid @colorGrayF6;
	width: 10px;
	height: 10px;
	background-color: #fff;
*/
  margin-top: 12px;
  margin-left: 30px;
  display: none;
  position: absolute;
  z-index: 3;
}
.submenu > * {
  text-transform: uppercase;
  color: #232323;
  line-height: 32px;
  font-weight: bold;
}
.submenu-level {
  border-top: 1px solid #e8e8e8;
  list-style: none;
  text-transform: none;
  z-index: 4;
  lefT: 0;
  top: 0;
  margin-left: 0;
  margin-top: 0;
}
.submenu-level > * {
  line-height: 20px;
  display: flex;
  align-items: center;
}
.submenu-level > * > a {
  font-size: 14px;
  color: #4f4f4f;
  letter-spacing: 0.03em;
  font-weight: 300;
  padding: 4px;
  display: block;
  text-align: left;
  width: 100%;
  box-sizing: border-box;
}
.submenu-level > * > a:hover {
  color: #fff;
  background-color: #f16d7f;
  width: 100%;
  display: block;
  text-align: left;
}
.header__form_browse::after {
  content: "";
  margin-left: 9px;
  margin-top: 7px;
}
.header__form_text {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  width: 279px;
}
.header__form_search {
  background-image: -webkit-linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
  background-image: -moz-linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
  background-image: -o-linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
  background-image: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
  background: url(img/header-search.png) no-repeat;
  width: 39px;
  height: 38px;
  background-position: center center;
  border: 1px solid #e6e6e6;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.header__cart {
  margin-right: 26px;
  width: 32px;
  height: 29px;
  background: url(img/cart.png) no-repeat;
  background-size: 32px 29px;
}
.header__cart:hover {
  animation: moveRotate 0.2s steps(15, end) 1;
}
.logo:hover {
  animation: wave 2s infinite ease-out;
}
@keyframes wave {
  from {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-4deg);
    transform: scale(1.2);
  }
  30% {
    transform: rotate(0deg);
  }
  50% {
    transform: scale(1.2);
    transform: rotate(6deg);
  }
  70% {
    transform: rotate(0deg);
  }
  90% {
    transform: scale(1.2);
    transform: rotate(-6deg);
  }
  from {
    transform: rotate(4deg);
  }
}
@keyframes moveRotate {
  from {
    background-position-x: 0px;
  }
  50.0% {
    background-position-x: 33px;
  }
  50.1% {
    background-position-x: -33px;
  }
  to {
    background-position-x: 0px;
  }
}
.button__submenu_white::after {
  /*	background: url(img/submenu-arrow.png) no-repeat;*/
  border: 5px solid transparent;
  /* Прозрачные границы */
  border-top: 5px solid #fff;
}
.button__submenu_black::after {
  /*	background: url(img/submenu-arrow-black.png) no-repeat;*/
  border: 5px solid transparent;
  /* Прозрачные границы */
  border-top: 5px solid #000;
  transition: 1s;
}
.button__submenu_black:hover::after {
  transform: rotateZ(360deg);
}
.button__submenu::after {
  content: " ";
  /*
	background-size: 9px 9px;
	width: 9px;
	height: 7px;
*/
  margin-left: 8px;
  margin-top: 7px;
}
/* Навигация */
nav {
  position: relative;
  width: 100%;
  min-height: 51px;
}
nav > .menu {
  position: absolute;
}
.menu {
  background-color: #fff;
  height: 51px;
  list-style: none;
  display: flex;
  justify-content: center;
  width: 1140px;
  align-items: center;
}
.menu > li {
  position: relative;
}
.menu__item {
  font-size: 14px;
  font-weight: bold;
  color: #222;
  height: 51px;
  line-height: 26px;
  text-transform: uppercase;
  padding: 14px 22px;
  box-sizing: border-box;
  /*border-bottom: 3px solid none;*/
  position: relative;
}
.menu__item:hover {
  /*background-color: @activeColor;*/
  border-bottom: 3px solid #f16d7f;
  /*color: #fff;*/
}
/*  */
.header__bg {
  height: 665px;
  background: url(img/header-bg.png) no-repeat center;
  background-color: #e8e8e8;
  display: flex;
  align-items: center;
  margin-bottom: 98px;
  word-wrap: break-word;
  width: 1140px;
  margin-top: -51px;
}
.header__text {
  border-left: 12px solid #f16d7f;
  padding-left: 12px;
  height: 92px;
}
.header__text > h1 {
  /*Text styles for "THE BRAND" */
  font-size: 60px;
  font-weight: 900;
  color: #222;
  letter-spacing: 0.03em;
  line-height: 60px;
  margin-top: -10px;
  text-transform: uppercase;
}
.header__text > h3 {
  /*Text styles for "OF LUXERIO" */
  font-size: 40px;
  font-weight: 900;
  color: #222;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 4px;
}
.header__text > h3 > small {
  /*Text styles for "FASHION" */
  font-size: 40px;
  font-weight: 900;
  color: #f16d7f;
  letter-spacing: 0.03em;
}
/* banner */
.banner {
  display: flex;
  width: 1140px;
  justify-content: space-between;
  height: 841px;
  margin: 100px auto;
}
.banner__col {
  /*width: calc(~'50% - 15px');*/
  width: 560px;
  height: 841px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.banner__item {
  background-size: cover !important;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.banner__item-text {
  background-color: #fff;
  padding: 16px;
  margin-top: 20px;
}
.banner__item-text > h3 {
  /*Text styles for "hOT dEAL" */
  font-size: 18px;
  font-weight: 900;
  text-align: left;
  color: #222;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.banner__item-text > h2 {
  /*Text styles for "FOR MEN" */
  font-size: 30px;
  font-weight: 900;
  color: #f16d7f;
  text-align: left;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.banner2x2 {
  width: 560px;
  height: 560px;
  background-color: red;
}
.banner2x1 {
  width: 560px;
  height: 261px;
  background-color: blue;
}
.banner_1 {
  background: url(img/banner1.png) no-repeat;
}
.banner_2 {
  background: url(img/banner2.png) no-repeat;
}
.banner_3 {
  background: url(img/banner3.png) no-repeat;
}
.banner_4 {
  background: url(img/banner4.png) no-repeat;
}
/* Featured item */
.featured {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  margin: 100px auto;
  width: 1140px;
}
.featured > h2 {
  font-size: 30px;
  font-weight: bold;
  color: #222;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 54px;
  width: 100%;
  text-transform: uppercase;
}
.featured > h4 {
  font-size: 14px;
  color: #9f9f9f;
  text-align: center;
  letter-spacing: 0.03em;
  width: 100%;
  margin-bottom: 59px;
}
.featured__item {
  width: 260px;
  /*height: 364px;*/
  margin-bottom: 29px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  transition: 0.5s;
}
.featured__img {
  display: block;
  width: 260px;
  height: 280px;
  transition: 0.5s;
  background-color: #e9e9e9;
  overflow: hidden;
}
.featured__img > img {
  height: 100%;
  transition: 0.5s;
}
.featured__info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  padding: 19px 14px;
}
.featured__title {
  font-size: 13px;
  color: #222222;
  text-align: left;
  text-transform: uppercase;
  margin: 19px 14px 45px 14px;
}
.featured__title:hover {
  text-decoration: underline;
}
.featured__price {
  font-size: 15px;
  font-weight: bold;
  color: #f16d7f;
  text-align: left;
  text-transform: uppercase;
  margin: 0 14px 19px 14px;
  position: absolute;
  left: 0;
  bottom: 0;
}
.featured__price::before {
  content: "$";
}
.featured1 {
  background: url(img/featured1.png) no-repeat;
}
.featured2 {
  background: url(img/featured2.png) no-repeat;
}
.featured3 {
  background: url(img/featured3.png) no-repeat;
}
.featured4 {
  background: url(img/featured4.png) no-repeat;
}
.featured5 {
  background: url(img/featured5.png) no-repeat;
}
.featured6 {
  background: url(img/featured6.png) no-repeat;
}
.featured7 {
  background: url(img/featured7.png) no-repeat;
}
.featured8 {
  background: url(img/featured8.png) no-repeat;
}
.featured-single1 {
  background: url(img/single-1.png) no-repeat;
}
.featured-single2 {
  background: url(img/single-2.png) no-repeat;
}
.featured-single3 {
  background: url(img/single-3.png) no-repeat;
}
.featured-single4 {
  background: url(img/single-4.png) no-repeat;
}
.featured__add {
  border: 1px solid #fff;
  color: #fff;
  font-size: 13px;
  height: 39px;
  width: 123px;
  position: absolute;
  left: 70px;
  top: 97px;
  display: none;
  align-items: center;
  justify-content: center;
}
.featured__add::before {
  background: url(img/cart-white.png) no-repeat;
  background-position: left center;
  width: 29px;
  content: " ";
  height: 30px;
}
.featured__item:hover {
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.16);
}
.featured__item:hover > .featured__img {
  filter: brightness(0.26);
}
.featured__item:hover > .featured__img img {
  transform: scale(1.1);
}
.featured__item:hover > .featured__add {
  display: flex;
}
.featured__add:hover {
  box-shadow: 0 0 10px 0 #fff;
  font-weight: 400;
}
.featured__browse {
  text-align: center;
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
.featured__browse-btn {
  display: flex;
  align-items: center;
}
.featured__browse-btn::after {
  background: url(img/btn-arrow-right.png) no-repeat;
  content: "";
  width: 15px;
  height: 7px;
  margin-left: 8px;
}
/* УТП */
.utp {
  box-sizing: border-box;
  display: flex;
  width: 1140px;
  margin: 100px auto;
  position: relative;
  background-color: #000 !important;
  justify-content: flex-end;
}
.utp__horiz {
  box-sizing: border-box;
  display: flex;
  width: 100wv;
  min-width: 1140px;
  margin: 100px auto;
  position: relative;
  background-color: #000 !important;
  justify-content: flex-end;
  flex-direction: column;
  padding-top: 89px;
  padding-bottom: 89px;
}
.utp__list-horiz {
  width: 1140px;
}
.utp__list-horiz > * {
  display: flex;
  flex-direction: column;
}
.utp__img {
  background: url(img/utp.png) no-repeat;
  background-position: left top;
  min-height: 529px;
  padding: 35px;
}
.utp__img::before {
  content: " ";
  left: 0;
  top: 0;
  width: 1140px;
  height: 529px;
  background: url(img/utp-opacity.png) no-repeat;
  background-position: left top;
  position: absolute;
}
.utp__offer {
  font-size: 54px;
  font-weight: bold;
  color: #ffffff;
  text-align: left;
  letter-spacing: 0.03em;
  display: block;
  text-transform: uppercase;
  display: inline;
  width: 767px;
  position: absolute;
  top: 146px;
  left: 35px;
}
.utp__offer-bold {
  /*Text styles for "OFFER" */
  font-size: 54px;
  font-weight: bold;
  color: #f16d7f;
  text-align: left;
  letter-spacing: 0.03em;
  display: inline;
}
.utp__offer > small {
  /*Text styles for "FOR WOMEN" */
  font-size: 32px;
  font-weight: bold;
  color: #ffffff;
  text-align: left;
  letter-spacing: 0.03em;
  display: inline;
  line-height: 35px;
}
.utp__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 308px;
  padding-left: 35px;
}
.utp__list-horiz {
  max-width: 1140px;
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 45px;
}
.utp__listitem {
  font-size: 20px;
  font-weight: bold;
  color: #fbfbfb;
  text-align: left;
  letter-spacing: 0.03em;
}
.utp__list-horiz > .utp__listitem {
  justify-content: center !important;
  text-align: center;
}
.utp__listitem + p {
  font-size: 14px;
  font-weight: 300;
  color: #fbfbfb;
  text-align: left;
  letter-spacing: 0.03em;
  line-height: 24px;
}
.utp__listitem p {
  font-size: 14px;
  font-weight: 300;
  color: #fbfbfb;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 24px;
}
.utp__list-horiz h4 {
  font-size: 20px;
  font-weight: bold;
  color: #fbfbfb;
  text-align: center;
  letter-spacing: 0.03em;
}
.utp-delivery {
  background: url(img/utp-free-delivery.png) no-repeat;
  background-position: left center;
  padding-left: 75px;
  line-height: 45px;
}
.utp-delivery-horiz {
  background: url(img/utp-free-delivery.png) no-repeat;
  background-position: center top;
  padding-top: 50px;
  line-height: 25px;
}
.utp-discount {
  background: url(img/utp-discount.png) no-repeat;
  background-position: left center;
  padding-left: 75px;
  line-height: 45px;
}
.utp-discount-horiz {
  background: url(img/utp-discount.png) no-repeat;
  background-position: center top;
  padding-top: 50px;
  line-height: 25px;
}
.utp-quality {
  background: url(img/utp-quality.png) no-repeat;
  background-position: left center;
  padding-left: 75px;
  line-height: 45px;
}
.utp-quality-horiz {
  background: url(img/utp-quality.png) no-repeat;
  background-position: left center;
  background-position: center top;
  padding-top: 50px;
  line-height: 25px;
}
/* Подписка */
.subscribe {
  height: 438px;
  display: flex;
  justify-content: center;
  background: url(img/subscribe.png) no-repeat;
  background-position: center 0;
  background-color: #f5f5f5;
  margin: 100px auto;
  position: relative;
  width: 1140px;
}
.subscribe::before {
  content: " ";
  display: block;
  left: 0;
  top: 0;
  position: absolute;
  height: 438px;
  width: 100%;
  background: url(img/subscribe-opacity.png) no-repeat;
  background-position: center 0;
}
.subscribe__slider {
  width: 570px;
  height: 100%;
  z-index: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}
video {
  left: calc(50% - 1140px / 2);
}
.subscribe__form {
  width: 570px;
  height: 100%;
  z-index: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
/*
.subscribe__list {
	display: block;
	margin-left: 100px;
	list-style-type: none;
	position: relative;
	border: 1px solid black;
	margin-top: 0px;
	height: 200px;

	li {
		height: 200px;
		border: 1px solid red;
		display: block;
		position: relative;
		box-sizing: border-box;
	}

	li.showed {
		visibility: visible;

	}

	li::before {
		content: " ";
		bottom: 0;
		height: 20px;
		width: 38px;
		background-color: red;
		position: absolute;
		display: block;
		border-bottom: 4px solid lime;
		visibility: visible;
	}

	li:nth-child(1)::before {
		left: 0px;
		top: 200px;
		background-color: aquamarine;
	}

	li:nth-child(2)::before {
		left: 40px;
		top: 0px;
		background-color: aqua;
	}

	li:nth-child(3)::before {
		left: 80px;
		top: -200px;
		background-color: antiquewhite;
	}

	li::before:hover + li {
		display: block;
		visibility: visible;
	}

}
*/
.slide__container {
  position: relative;
  /*background-color: #efefef;*/
  /*border: 1px solid black;*/
  display: flex;
  width: 100%;
  /*height: 170px;*/
  padding-left: 100px;
  /*margin-top: calc(~'50% - 100px');*/
  /*
	width: 120px;
	margin-top: 80px;
	*/
}
.slide__container cite,
.slide__container author,
.slide__container city {
  display: block;
  width: 100%;
}
.slide__container cite {
  font-size: 16px;
  font-style: italic;
  color: #222224;
  text-align: left;
  letter-spacing: 0.03em;
  line-height: 26px;
  max-height: 97px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.slide__container author {
  font-size: 16px;
  font-weight: bold;
  color: #f16d7f;
  text-align: left;
  letter-spacing: 0.03em;
  line-height: 26px;
  margin-top: 20px;
}
.slide__container city {
  font-size: 12px;
  font-weight: 300;
  color: #222224;
  text-align: left;
  letter-spacing: 0.03em;
  line-height: 14px;
}
.btn {
  width: 40px;
  height: 170px;
  margin-right: 10px;
  display: flex;
  /*border: 1px solid blue;*/
  /*background-color: rgba(214, 214, 214, 1);*/
  border-bottom: 4px solid #d6d6d6;
}
.data {
  /*width: 350px;*/
  /*height: 160px;*/
  /*border: 1px solid red;*/
  /*left: 100px;*/
  top: 0;
  left: 100px;
  position: absolute;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  /*background-color: red;*/
}
.data::before {
  content: " ";
  /*width: 44px;*/
  height: 84px;
  margin-left: -100px;
  padding-left: 100px;
  position: absolute;
}
.sub3::before {
  background: url(img/subscribe-avatar.png) no-repeat;
}
.sub2::before {
  background: url(img/subscribe-avatar2.png) no-repeat;
}
.sub1::before {
  background: url(img/subscribe-avatar3.png) no-repeat;
  background-clip: 84px 84px;
  background-size: 84px 84px;
}
.btn,
.slide__container:hover > .active {
  /*background-color: yellow;*/
  border-bottom: 4px solid #d6d6d6;
}
.slide__container > .btn.active {
  /*background-color: lime;*/
  border-bottom: 4px solid #c13d4f;
}
.slide__container:hover > .btn.active:hover,
.btn:hover {
  /*background-color: red;*/
  border-bottom: 4px solid #f16d7f;
}
.slide__container:hover > .btn.active:not(:hover) > .data {
  visibility: hidden;
}
.btn:hover > .data,
.slide__container > .btn.active > .data {
  visibility: visible;
}
.subscribe__title {
  font-size: 24px;
  color: #222224;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 54px;
  text-transform: uppercase;
}
.subscribe__title > p {
  font-size: 14px;
  color: #222224;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 24px;
}
.subscribe__form-elems {
  margin-top: 35px;
  height: 46px;
  /*width: 334px;*/
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.subscribe__form-elems *:focus {
  outline: none;
}
.subscribe__form-email {
  height: 46px;
  background-color: #e1e1e1;
  border-radius: 23px 0 0 23px;
  width: 230px;
  padding: 14px;
}
.subscribe__form-email::placeholder {
  color: gray;
}
.subscribe__form-email:focus {
  background-color: #ffffff;
}
.subscribe__submit {
  height: 46px;
  width: 104px;
  background-color: #f16d7f;
  border-radius: 0 23px 23px 0;
  border: 1px solid rgba(241, 109, 127);
  color: #fff;
}
.subscribe__submit:focus {
  background-color: #ff9daf;
}
/* footer nav */
.footer__navigator {
  display: flex;
  justify-content: flex-start;
  width: 1140px;
  margin: 100px auto;
}
.footer__info {
  width: 430px;
}
.footer__info p {
  font-size: 14px;
  font-weight: 300;
  color: #898989;
  letter-spacing: 0.03em;
  line-height: 24px;
  margin-top: 29px;
}
.footer__header {
  font-size: 18px;
  font-weight: bold;
  color: #f16d7f;
  letter-spacing: 0.03em;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 45px;
}
.footer__nav {
  width: calc(( 1140px - 430px ) / 3);
  margin-left: 60px;
}
.footer__nav ul {
  list-style-type: none;
}
.footer__nav a {
  font-size: 16px;
  color: #898989;
  letter-spacing: 0.03em;
  line-height: 42px;
  padding: 5px 0;
  text-align: left;
}
.footer__nav a:hover,
.footer__nav a:active {
  color: #f16d7f;
  border-bottom: 2px solid #f16d7f;
}
/* footer */
footer {
  background-color: #e6e6e6;
  height: 79px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1140px;
}
.footer__copyright {
  font-size: 16px;
  color: #7a7a7a;
  letter-spacing: 0.03em;
  line-height: 42px;
}
.footer__social {
  list-style-type: none;
  display: flex;
  font-family: 'FontAwesome';
}
.footer__social a {
  width: 32px;
  height: 32px;
  line-height: 32px;
  color: #b2b2b2;
  background-color: #fff;
  margin-left: 5px;
}
.footer__social a:hover {
  color: #fff;
  background-color: #f16d7f;
}
/* live cart dropown */
.button__submenu:hover ~ .livecart,
.livecart:hover {
  display: block;
}
.livecart {
  position: absolute;
  top: 38px;
  display: none;
  right: 0;
  height: 440px;
  width: 262px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #f6f6f6;
  padding: 21px 17px;
  z-index: 1;
}
.livecart .livecart__itemslist {
  list-style-type: none;
}
.livecart .livecart__product {
  height: 85px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 16.5px 0;
  align-items: baseline;
}
.livecart .livecart__img {
  width: 72px;
  height: 85px;
}
.livecart .livecart__rating {
  background: url(img/cart-rating-5-small.png) left top no-repeat;
  background-size: cover;
  width: 64px;
  text-align: left;
  position: relative;
  height: 12px;
  display: block;
}
.livecart .livecart__count {
  font-size: 12px;
  color: #f16d7f;
}
.livecart .livecart__btnclose {
  background: url(img/cart-close.png) no-repeat;
  width: 15px;
  height: 15px;
  position: absolute;
  margin-top: 30px;
  right: 17px;
  color: #9f9f9f;
  display: flex;
}
.livecart .livecart__price::before {
  content: "TOTAL ";
  text-align: left;
  display: block;
}
.livecart .livecart__price {
  font-size: 16px;
  font-weight: bold;
  color: #222222;
  text-transform: uppercase;
  text-align: right;
  display: flex;
  justify-content: space-between;
  /*background-color: rgba(237, 237, 237, 0.75);*/
  border-top: 1px solid rgba(237, 237, 237, 0.75);
  padding: 19px 0;
  margin-bottom: 30px;
}
.livecart .livecart__btn {
  width: 100%;
  height: 50px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1px9 0;
  text-align: center;
  color: #4a4a4a;
  border: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 11px;
  align-self: flex-end;
  background-color: #fff;
}
.livecart .livecart__btn:hover {
  color: #f16d7f;
  background-color: #ffffff;
  border: 1px solid #f16d7f;
}
/* mega menu drop down */
.megasub:hover > .megamenu {
  display: flex;
}
.megamenu {
  height: 310px;
  width: 846px;
  left: -74px;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 0 0 19px 0;
  position: absolute;
  /*display: flex;*/
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  z-index: 2;
}
.megamenu__submenu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 100%;
  justify-content: flex-start;
  list-style-type: none;
}
.megamenu__submenu .h3 {
  font-size: 14px;
  color: #232323;
  text-align: left;
  letter-spacing: 0.03em;
  line-height: 32px;
  text-transform: uppercase;
  border-bottom: 1px solid #e8e8e8;
  font-weight: 400;
  margin: 10px 20px;
}
.megamenu__item {
  font-size: 14px;
  color: #646464;
  margin-right: 20px;
  margin-left: 20px;
  letter-spacing: 0.03em;
  line-height: 28px;
  font-weight: 300;
  border-bottom: 2px solid transparent;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  box-sizing: border-box;
  display: inline;
}
.megamenu__item:hover {
  color: #f16d7f;
  border-bottom: 2px solid #f16d7f;
}
.megamenu__item-last {
  max-width: 256px;
  right: 19px;
  bottom: 21px;
  position: absolute;
}
/* New arrivals */
.breadcrumbs {
  height: 148px;
  width: 1140px;
  background-color: #f8f3f4;
  display: flex;
  justify-content: space-between;
  margin: 0px auto 0 auto;
  align-items: center;
}
.breadcrumbs > h2 {
  font-size: 24px;
  font-weight: 900;
  color: #f16d7f;
  text-align: center;
  line-height: 20px;
  text-transform: uppercase;
}
.breadcrumbs .breadcrumbs__item {
  font-size: 14px;
  font-weight: 300;
  color: #636363;
  text-align: center;
  line-height: 20px;
  text-transform: uppercase;
}
.breadcrumbs .breadcrumbs__item:hover {
  color: #f16d7f;
}
.breadcrumbs .breadcrumbs__item::after {
  content: "/";
  margin-left: 5px;
}
.breadcrumbs .breadcrumbs__item:last-of-type {
  /*Text styles for "New Arriva" */
  font-size: 14px;
  font-weight: bold;
  color: #f16d7f;
  text-align: center;
  line-height: 20px;
  text-transform: uppercase;
}
.breadcrumbs .breadcrumbs__item:last-of-type::after {
  content: "";
}
/* slider on single page */
.singleslider {
  height: 777px;
  min-width: 1140px;
  background-color: #f7f7f7;
  border: 1px solid #eaeaea;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.singleslider__arrowleft,
.singleslider__arrowright {
  height: 47px;
  width: 47px;
  background-color: rgba(42, 42, 42, 0.15);
  font-family: 'FontAwesome';
  font-size: 24px;
  color: #ffffff;
  text-align: left;
  line-height: 24px;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.singleslider__arrowleft:hover,
.singleslider__arrowright:hover {
  background-color: #f16d7f;
}
.singleslider__img {
  width: 1140px;
  height: 100%;
}
.singleslider__img > div.active {
  width: 100%;
  height: 100%;
}
.singleslider__img > div:not(.active) {
  width: 0;
}
.slider-img1 {
  background: url(img/singleslider-img1.png) center center no-repeat;
}
/* product */
.product {
  width: 1140px;
  /*height: 730px;*/
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  align-items: center;
  position: static;
}
.singleslider ~ .product {
  margin-top: -86px;
  position: relative;
}
.product__container {
  /*border: 1px solid blue;*/
  width: calc(1140px - 254px * 2);
  /*height: 730px;*/
  margin: 86px auto 86px auto;
}
.product__container > hr {
  height: 1px;
  width: 100%;
  margin: 43px auto;
  background-color: #eaeaea;
  border: 0px;
}
.product__collection {
  font-size: 14px;
  font-weight: bold;
  color: #f16d7f;
  text-align: center;
  line-height: 24px;
  text-transform: uppercase;
  margin: 15px auto;
}
.product__collection span {
  line-height: 44px;
  padding: 15px 0;
  margin: 15px auto;
  border-bottom: 1px solid #eaeaea;
  z-index: inherit;
}
.product__collection span::after {
  width: 63px;
  height: 3px;
  background-color: #f16d7f;
  content: " ";
  display: block;
  margin: 0 auto;
  z-index: 1;
  position: absolute;
  left: calc(50% - 32.5px);
}
.product__title {
  font-size: 18px;
  font-weight: 900;
  color: #4d4d4d;
  text-align: center;
  line-height: 24px;
  text-transform: uppercase;
}
.product__rating {
  padding: 24px;
  margin: 0 auto;
  background: url(img/cart-rating-5-small.png) center center no-repeat;
  width: 100px;
  display: flex;
  align-items: center;
}
.product__text {
  font-size: 14px;
  font-weight: 300;
  color: #5e5e5e;
  text-align: center;
  line-height: 24px;
}
.product__detail {
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
}
.product p {
  font-size: 14px;
  font-weight: bold;
  color: #b9b9b9;
  text-align: center;
  line-height: 60px;
}
.product b {
  font-size: 14px;
  font-weight: bold;
  color: #2f2f2f;
  text-align: center;
  line-height: 24px;
}
.product__price {
  font-size: 24px;
  font-weight: bold;
  color: #ef5b70;
  text-align: center;
  line-height: 60px;
}
.product__form {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.product__form label {
  font-size: 14px;
  font-weight: bold;
  color: #2f2f2f;
  text-align: left;
  line-height: 24px;
  text-transform: uppercase;
  width: calc(100% / 3 - 53px);
}
.product__form input,
.product__form button,
.product__form select {
  height: 35px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  padding: 8.5px;
  margin-left: calc(53px / 2);
  margin-right: calc(53px / 2);
  margin-top: 14px;
  margin-bottom: 14px;
  font-size: 16px;
  font-weight: bold;
  color: #ef5b70;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product__form input {
  font-size: 13px;
  color: #bcbcbc;
}
.product__form button {
  height: 55px;
  border: 1px solid #ef5b70;
}
.product__form button:hover,
.product__form input:hover,
.product__form select:hover {
  color: #f16d7f;
  border-color: #f16d7f;
  box-shadow: 0 0 10px 0 #f16d7f;
}
.product__form .btn33 {
  width: calc(100% / 3 - 53px);
}
.product__form .btn100 {
  width: 100%;
}
.product__form .cart:before {
  margin-right: 10px;
  font-size: 145%;
  font-family: Linearicons-Free;
  content: "\e82e";
}
.catalog {
  width: 1140px;
  display: flex;
  justify-content: space-between;
  margin: 71px auto;
}
.catalog .pages {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.catalog .pages > ul {
  display: flex;
  list-style-type: none;
  height: 44px;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  align-items: center;
  padding: 0 7px;
}
.catalog .pages__href {
  font-size: 16px;
  font-weight: 400;
  color: #c4c4c4;
  line-height: 26px;
  display: inline-block;
  padding: 1px 3px;
  margin: 0 3px;
}
.catalog .pages__href:hover {
  color: #f16d7f;
}
.catalog > .filter__menu {
  height: 300px;
  width: 243px;
  display: flex;
  flex-direction: column;
}
.catalog > .filter__item {
  font-size: 14px;
  color: #6f6e6e;
  text-align: left;
  line-height: 33px;
}
.catalog > .container {
  width: 848px;
  display: block;
}
.filter {
  margin-bottom: 18px;
}
.filter ul {
  list-style-type: none;
  padding: 16px;
}
.filter > summary {
  height: 36px;
  border-bottom: 1px solid #ebebeb;
  font-size: 14px;
  font-weight: bold;
  color: #6e6e6e;
  text-align: left;
  line-height: 20px;
  text-transform: uppercase;
  border-left: 5px solid #f16d7f;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}
summary::-webkit-details-marker {
  display: none;
}
.filter > summary:focus,
.filter[open] > summary {
  color: #ef5b70;
  border-left: 5px solid #f16d7f;
}
details > summary:before {
  content: "\25c0";
  /* unicode character of the litle triangle  */
  margin-right: 5px;
  transition: 0.3s;
  transform: rotate(-90deg);
}
details[open] > summary:before {
  content: "\25c0";
  /* unicode character of the litle triangle  */
  margin-right: 5px;
  transition: 0.3s;
  transform: rotate(90deg);
}
.catalog .filter__item {
  font-size: 14px;
  color: #6f6e6e;
  text-align: left;
  line-height: 33px;
  padding: 0 5px;
}
.catalog .filter__item:hover {
  color: #f16d7f;
  border-bottom: 2px solid #f16d7f;
}
.catalog .featured {
  width: 100%;
  margin: 0 auto;
}
.catalog__filter__horiz {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}
.catalog__filter__horiz > div {
  width: calc(100% / 3);
}
.catalog__filter ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.catalog__filter h3 {
  font-size: 14px;
  font-weight: bold;
  color: #6f6e6e;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.trending__filter li::after {
  content: "|";
  margin: 0 10px;
  color: #6f6e6e;
}
.trending__filter li:last-child::after {
  content: "";
}
.trending__filter-item {
  font-size: 14px;
  color: #6f6e6e;
  line-height: 26px;
}
.trending__filter-item:hover {
  color: #f16d7f;
  border-bottom: 2px solid #f16d7f;
}
.size__filter {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.size__filter label,
.size__filter input {
  display: flex;
  align-items: center;
  margin-right: 10px;
  font-size: 14px;
  color: #6f6e6e;
  line-height: 26px;
  height: 26px;
}
.slider-range {
  background-color: #f0f0f0 !important;
  border-radius: 3px !important;
  height: 6px !important;
  z-index: 0 !important;
  margin-top: 30px;
}
.slider-range > span,
.slider-range .ui-slider-handle {
  height: 14px !important;
  width: 14px !important;
  background-color: #f16d7f !important;
  border-radius: 14px !important;
  top: -0.35em !important;
}
.slider-range .ui-slider-range {
  background-color: #f16d7f;
  z-index: 0 !important;
}
.slider-range-data {
  display: flex;
  justify-content: space-between;
}
.slider-range-data > .min,
.slider-range-data > .max {
  font-size: 14px;
  color: #6f6e6e;
  line-height: 26px;
  margin-top: 10px;
  display: block;
}
.catalog__sortpanel {
  background-color: #f3f3f3;
  padding: 10px 0;
  margin-bottom: 48px;
  display: flex;
}
.catalog__sortpanel select,
.catalog__sortpanel label,
.catalog__sortpanel option {
  background-color: #Fff;
  width: 76.5px;
  padding: 5px;
  display: block;
  font-size: 14px;
  color: #6f6e6e;
  border: 1px solid #f3f3f3;
  text-align: left;
  line-height: 26px;
  min-height: 30px;
}
.catalog__sortpanel label {
  margin-left: 10px;
  text-align: center;
}
/* @import "_cart.less";*/
.cart {
  width: 1140px;
  margin: 89px auto;
}
.cart .button {
  text-transform: uppercase;
}
.cart__table_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart__table_item .details {
  width: 50%;
  text-align: left;
}
.cart__table_item .price,
.cart__table_item .quantity,
.cart__table_item .shipping,
.cart__table_item .subtotal,
.cart__table_item .action {
  width: 10%;
  text-align: center;
  display: flex;
  justify-content: center;
}
.cart__table_item .quantity > input {
  width: 54px;
  text-align: center;
  padding: 0 !important;
}
.cart__table .th {
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  color: #222222;
  letter-spacing: -0.01em;
  line-height: 40px;
  text-transform: uppercase;
  border-bottom: 1px solid #eaeaea;
}
.cart__table .td {
  height: 153px;
  padding-top: 19px;
  padding-bottom: 19px;
  border-bottom: 1px solid #eaeaea;
}
.cart__table .td .details {
  display: flex;
  flex-direction: columns;
}
.cart__table .td .details .info {
  padding-left: 21px;
}
.cart__table .td .details .product__hdr {
  font-size: 13px;
  color: #222222;
  text-align: right;
  text-transform: uppercase;
  margin-bottom: 38px;
}
.cart__table .td .details .product__color,
.cart__table .td .details .product__size {
  font-size: 13px;
  font-weight: 300;
  color: #6f6e6e;
  line-height: 20px;
}
.cart__table .td .details .product__color span,
.cart__table .td .details .product__size span {
  font-weight: 900;
  margin-right: 10px;
}
.cart .cart__buttons {
  display: flex;
  justify-content: space-between;
  margin: 44px auto;
}
.cart .cart__form {
  display: flex;
  justify-content: space-between;
}
.cart .cart__form .form__header {
  font-size: 16px;
  font-weight: bold;
  color: #222222;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.cart .cart__form .form__summary {
  background-color: #f5f3f3;
  padding: 44px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
  height: 214px;
  box-sizing: border-box;
}
.cart .cart__form .grandtotal {
  margin-top: 20px;
}
.cart .cart__form .subtotal,
.cart .cart__form .subtotal > span {
  font-size: 11px;
  color: #4a4a4a;
  text-transform: uppercase;
  margin-left: 10px;
}
.cart .cart__form .grandtotal > span {
  color: #f16d7f;
  margin-left: 10px;
}
.cart .cart__form > div {
  width: 325px;
}
.cart .cart__form > div > .button,
.cart .cart__form > div > .input {
  width: 100%;
  margin-top: 20px;
}
/* commonly */
.container {
  width: 1140px;
  display: flex;
}
.container-big {
  margin-top: 89px;
  margin-bottom: 89px;
  min-height: 100px;
}
.container-center {
  margin-left: auto;
  margin-right: auto;
}
.container-2col {
  width: 50%;
}
.header16px_black {
  font-size: 16px;
  font-weight: bold;
  color: #222;
}
.header13px_black {
  font-size: 13px;
  color: #222;
  font-weight: bold;
}
.upcase {
  text-transform: uppercase;
}
.form__hint {
  font-size: 13px;
  line-height: 20px;
}
.form__hint-normal {
  color: #b3b2b2;
}
.form__hint-warning {
  color: #ff0d0d;
}
.required::after {
  font-size: 17px;
  color: #ff0d0d;
  content: "*";
  margin-bottom: 10px;
  margin-left: 5px;
}
/* checkout */
.checkout {
  counter-reset: stageItemCounter;
  display: flex;
  flex-direction: column;
  /*
	&__stages {
		list-style-type: none;
		width: 100%;
		cursor: pointer;
	}
*/
}
.checkout__container {
  display: flex;
  width: 974px;
  margin-bottom: 79px;
  overflow: hidden;
  transition: all 2s;
  margin-top: 0;
}
.checkout__container > * {
  width: calc(50% - 35px);
  margin-left: 35px;
}
.checkout__stageItem {
  border-bottom: 1px solid #e8e8e8;
}
.checkout__stageItem > .h3 {
  line-height: 72px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  color: #222;
  display: inline-block;
}
.checkout__stageItem::before {
  counter-increment: stageItemCounter;
  content: "0" counter(stageItemCounter) ". ";
  font-size: 16px;
  font-weight: bold;
  color: #222;
}
.checkout__stageItem.collapsed:hover {
  transition: all 2s;
  max-height: 0px;
  animation: fade ease-in 0.5s;
}
@-moz-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* forms */
.formRegister {
  /*border: 1px solid blue;*/
  text-transform: none;
}
.formRegister > * {
  margin-bottom: 15px;
}
.formRegister__fieldset {
  margin-top: 33px;
  margin-bottom: 33px;
  border: 0px;
}
.formRegister__label {
  font-size: 12px;
  color: #222222;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin: 10px auto;
  line-height: 20px;
}
.formRegister__input[type="radio"] {
  margin-right: 20px;
  height: 20px;
}
.formRegister__p {
  font-size: 13px;
  color: #222;
  font-weight: bold;
  display: block;
  margin-bottom: 15px;
}
.formRegister__p > small {
  font-size: 13px;
  line-height: 20px;
  color: #b3b2b2;
  display: block;
  margin-top: 15px;
  text-transform: none;
}
.formRegister__whyList {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.formRegister__whyList li {
  list-style-image: url(img/list-arrow.png);
  font-size: 13px;
  color: #b3b2b2;
  line-height: 20px;
}
.formRegister__link {
  font-size: 14px;
  color: #222222;
  line-height: 20px;
}
.formRegister__link:hover,
.formRegister__link:focus {
  color: #f16d7f;
}
.formRegister__panel {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.formRegister__panel > * {
  margin-right: 32px;
}
.formRegister__error {
  font-size: 13px;
  color: #ff0d0d;
  line-height: 20px;
}
/*}*/
@media screen and (max-width: 767px) {
  html {
    font-size: 12px;
  }
  body {
    width: 100%;
    min-width: 320px;
  }
  .center {
    padding: 0;
  }
  .logo {
    background-size: 28px 22px;
    background-position: left center;
  }
  .logo > span {
    font-size: 1.3rem;
    margin-left: 16px;
    margin-right: 0;
    line-height: 0;
  }
  .logo > span > small {
    font-size: 1.3rem;
  }
  .header {
    width: 100%;
    min-height: 50px;
    background-color: greenyellow;
    flex-wrap: wrap;
  }
  .button__submenu::after {
    margin-left: 0;
  }
  .header__cart {
    margin-right: 0;
    width: 32px;
    height: 22px;
    background-size: 20px 18px;
  }
  .header__form_browse {
    height: 28px;
    font-size: 11px;
    display: none;
  }
  .header__form_text {
    max-width: 100px;
  }
  .header__form_search {
    width: 26px;
    height: 28px;
  }
  nav > .menu {
    flex-wrap: wrap;
  }
  .menu > li {
    flex-basis: 70px;
    flex-grow: 1;
    text-align: center;
  }
  .menu__item {
    font-size: 11px;
    line-height: 20px;
    padding: 3px;
  }
  .breadcrumbs {
    height: 40px;
    width: 100%;
    padding: 10px 0 !important;
  }
  .breadcrumbs > h2 {
    font-size: 1.4rem;
    text-align: left;
    margin-right: 20px;
  }
  .container-big {
    margin-top: 29px;
    margin-bottom: 29px;
    min-height: 100px;
  }
  .checkout__stageItem::before {
    font-size: 12px;
  }
  .checkout__stageItem > .h3 {
    line-height: 32px;
    font-size: 12px;
  }
  .container {
    width: 100%;
  }
  .breadcrumbs .breadcrumbs__item {
    font-size: 10px;
  }
  .breadcrumbs .breadcrumbs__item:last-of-type {
    font-size: 10px;
  }
  .form__register {
    padding: 16px;
    align-items: baseline;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  .formRegister__p {
    font-size: 10px;
    margin-bottom: 10px;
  }
  .formRegister__p > small {
    font-size: 10px;
    margin-top: 1px;
  }
  .formRegister__fieldset {
    margin-top: 0;
    margin-bottom: 0;
  }
  .formRegister__label {
    font-size: 10px;
    margin: 5px auto;
  }
  .formRegister__whyList li {
    font-size: 10px;
  }
  .button,
  .input,
  input {
    height: 28px;
  }
  .button__submenu > span {
    display: none;
  }
  #canvas {
    display: none;
  }
  .checkout__container {
    width: calc(100% - 32px);
    margin-left: 16px;
    margin-right: 16px;
    flex-wrap: wrap;
    /*flex-direction: column;*/
    justify-content: space-around;
  }
  .checkout__container > * {
    min-width: 260px;
    margin: 17px 0;
  }
  .btn-medium {
    font-size: 10px;
    padding-left: 14px;
    padding-right: 14px;
  }
  .menu {
    width: 100%;
  }
  .header__bg {
    width: 100%;
  }
  .banner {
    width: 100%;
  }
  .banner__col {
    /*width: calc(~'50% - 15px');*/
    width: 100%;
  }
  .banner2x2 {
    width: 100%;
  }
  .banner2x1 {
    width: 100%;
  }
  .featured {
    width: 100%;
  }
  .utp__horiz {
    width: 100wv;
    min-width: 100%;
  }
  .utp__list-horiz {
    width: 100%;
    max-width: 100%;
  }
  .utp__list-horiz .utp__offer {
    width: 100%;
  }
  .utp__list-horiz .utp__list {
    width: 100%;
  }
  .subscribe {
    width: 100%;
    flex-wrap: wrap;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .subscribe__title {
    font-size: 1.4rem;
  }
  .slide__container cite {
    font-size: 1.2rem;
    line-height: 1.3rem;
  }
  .subscribe__form-email {
    height: 28px;
    border-radius: 14px 0 0 14px;
    padding: 10px;
    font-size: 0.9rem;
  }
  .subscribe__submit {
    height: 28px;
    border-radius: 0 14px 14px 0;
    width: 104px;
    font-size: 0.9rem;
  }
  video {
    left: calc(50% - 100% / 2);
  }
  .formRegister__link {
    font-size: 11px;
  }
  .subscribe__form {
    width: 50%;
  }
  .footer__nav {
    width: 33.33333333%;
    margin-left: 0px;
    text-align: center;
  }
  .footer__navigator {
    width: 100%;
    flex-wrap: wrap;
    margin: 29px auto;
  }
  .footer__header {
    font-size: 11px;
    margin-bottom: 16px;
    margin-top: 16px;
  }
  .footer__copyright {
    font-size: 11px;
    color: #7a7a7a;
    letter-spacing: 0.03em;
    line-height: 16px;
  }
  .footer__social a {
    width: 20px;
    height: 20px;
    line-height: 20px;
  }
  .footer__nav a {
    font-size: 10px;
    line-height: 15px;
  }
  .footer__info {
    width: 100%;
  }
  .footer__info p {
    font-size: 10px;
    line-height: 15px;
    margin-top: 10px;
  }
  footer {
    width: 100%;
    height: 40px;
  }
  .menu > li {
    position: static;
  }
  .megamenu {
    width: 100%;
    right: 0;
    left: auto;
    height: auto;
    flex-direction: column;
  }
  .breadcrumbs {
    width: 100%;
  }
  .singleslider {
    min-width: 100%;
  }
  .singleslider__img {
    width: 100%;
  }
  .product {
    width: 100%;
  }
  .product__container {
    /*border: 1px solid blue;*/
    width: 100%;
  }
  .catalog {
    width: 100%;
  }
  .catalog > .container {
    width: 100%;
  }
  .cart {
    width: 100%;
  }
  .container {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */