body {
  font-family: 'SF Pro Display', sans-serif;
}

header {
  display: flex;
  background-color: #2f2a2d;
  justify-content: space-between;
  color: #10fafa;
  padding: 30px 80px;
}

button:focus {
  outline: none;
}

/*.products {*/
/*display: flex;*/
/*justify-content: space-between;*/
/*flex-wrap: wrap;*/
/*padding: 40px 80px;*/
/*}*/

.invisible {
  display: none;
}

.cart-items {
  max-height: 60vh;
  overflow-y: auto;
}

.product-bio {
  display: flex;
}

.product-price {
  margin-left: 30px;
}

.right-block {
  text-align: right;
  right: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.d-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.d-block {
  display: block
}

