html, body{
    height: 100%;
    min-height: 100%;
}
body{
    font-family: 'SF Pro Display', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header {
    flex: 0 1 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    padding: 30px 0;
    background-color: #2f2a2d;
    color: #fafafa;
}
main {
    flex: 1 0 auto;
}
footer {
    flex: 0 1 auto;
    padding: 30px 0;
    background-color: #2f2a2d;
    color: #fafafa;
}
button:focus{
    outline: none;
}
.logo{
    text-transform: uppercase;
    font-weight: bold;
}
.btn-cart {
    background-color: #fafafa;
    padding: 10px 20px;
    border: 1px solid transparent;
    color: #2f2a2d;
    border-radius: 5px;
    transition: all ease-in-out .4s;
    cursor: pointer;
}
.btn-cart:hover{
    background-color: transparent;
    border-color: #fafafa;
    color: #fafafa;
}
.btn-cart, .logo{
    align-self: center;
}
p {
    margin: 0 0 5px 0;
}
img {
    max-width: 100%;
    height: auto
}

#cart-block{
    position: absolute;
    width: 300px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.62);
    border-radius: 5px;
    background-color: white;
    color: black;
    right: 0;
    top: 130%;
    z-index: 10;
}
#cart-block:before{
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: -10px;
    right: 35px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
}


.cart-item {
    display: flex;
    justify-content: space-between;
}
.cart-item:not(:last-child){
    margin-bottom: 20px;
}
.cart-item img{
    align-self: flex-start;
    margin-right: 15px;
}
.product-single-price{
    color: #474747;
    font-size: 0.5em;
}
.product-desc{
    flex: 1 0 auto;
}
.product-quantity {
    margin-top: 15px;
    font-size: 0.75em;
}
.right-block{
    text-align: right;
}
.btn-search {
    background-color: transparent;
    border: none;
    color: #fafafa;
    font-size: 1.2em;
    position: absolute;
    bottom: 5px;
    right: 0;
}
.search-form{
    position: relative;
    margin-right: 50px;
    display: inline-block;
}
.search-field:focus{
    outline: none;
}
.search-field {
    box-sizing: border-box;
    width: 200px;
    color: #fafafa;
    padding: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fafafa;
}
